body{
    display: flex;
    flex-direction: column;
    color: rgb(108, 105, 141);
}
#nav{
    background-color: rgb(118, 228, 255);
    border-radius: 10px;
    text-align: center;
}
footer{
    background-color: rgb(222, 217, 226);
    border-radius: 10px;
    text-align: center;
}
.img1{
    background-image: url(/img/Quantum-computer-Chalmers_2017.jpg);
    /*https://commons.wikimedia.org/wiki/File:Quantum-computer-Chalmers_2017.jpg*/
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    background-size: cover;
    border-radius: 10px;
    border: solid 1px black;
}
#ecs{
    font-size:25px;
    padding: 5px;
}
#ec-desc{
    font-size:20px;
}
.nav{
    list-style-type: none;
}
.round{
    border-radius: 10px;
    border: solid 1px black;
    background-color: rgb(118, 228, 255);
}
.round h2{
    text-align: center;
    padding-bottom: 10px;
}
.round p{
    margin-left: 10px;
    padding-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
}
a:visited{
    color: rgb(108, 105, 141);
}
#nav a{
    text-decoration: none;
}
li div{
    margin-right: 3.5%;
}
li div:active{
    background-color: rgb(176, 239, 255);
}
li div:active{
    background-color: rgb(176, 239, 255);
}